@import "src/assets/css/panda";
@import "src/assets/css/library";

.classTest {
  width: 100%;
  height: 50vh;
  position: relative;
}

.button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
